langchain-groq
langchain-mcp-adapters
mcp
langgraph

apscheduler==3.10.4 
google-api-python-client==2.146.0 
google-auth==2.35.0 
python-dotenv==1.0.1 
requests==2.32.3 
nest_asyncio==1.6.0 
imaplib2==3.6 
rapidfuzz==3.10.0 
 
langchain>=0.3.8
tenacity==9.0.0

langchain-community==0.3.1 
langchain-google-genai==2.0.1 
langchain-huggingface==0.1.0 
faiss-cpu==1.9.0 
tenacity==9.0.0 
mcp 
langchain-mcp-adapters==0.1.0 
langgraph==0.2.34 
langchain-groq==0.2.0